.navbar {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.brand {
  height: 30px;
  width: 30px;
  background-color: greenyellow;
  border-radius: 15px;
  &:hover {
    background-color: green !important;
  }
}

.links {
  display: flex;
  flex-direction: row;
  position: relative;
  padding-bottom: 15px;
}

.link {
  padding: 0 10px;
  color: black;
  text-decoration: none;
}

.underline {
  height: 4px;
  width: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background-color: #444;
  transition: all 300ms;
}
.current {
  background-color: red;
}
