.button {
  background-color: white;
  border: 3px solid pink;
  color: black;
  cursor: pointer;
  border-radius: 5px;
  margin: 3px;
  padding: 5px 15px;
  font-weight: bold;
  font-size: 1.1em;
  &:active {
    background-color: grey;
  }
}
